html {
    scroll-behavior: smooth;
}
img {
    transition: opacity 0.3s ease-in-out;
}
img:not([src]) {
    opacity: 0;
}
img[src] {
    opacity: 1;
}
/* Font Rendering Optimization */
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
