.tot-whatsapp-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 10px 25px rgba(37, 211, 102, 0.3);
    z-index: 9997;
    transition: 0.3s;
}
.tot-whatsapp-float:hover {
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .tot-whatsapp-float {
        bottom: 80px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
}
